@basecolor: #3A6676;

#root-box {
	@maincolor:#333333
}

.button {
	text-decoration:underline
}

body
{
	background-color:#ffffff;
}

h1
{
	color:@maincolor;
	font-size:40px;
}

p
{
	font-family:"Sans serif";
	font-size:20px;
}