@basecolor: #3A6676;

@maincolor:#333333;


.button {
	text-decoration:underline;
	cursor:pointer;
}

body
{
	background-color:#ffffff;
}

h1
{
	color:@maincolor;
	font-size:40px;
}

p
{
	font-family:sans-serif;
	font-size:20px;
	margin-bottom:30px;
}