@import:url('doclist.less');
@basecolor: #3A6676;
@maincolor: #333333;

@font-face {
	font-family: fanwood_italic;
	src: url(../fonts/Fanwood/fanwood_italic-webfont.ttf);
}

@font-face {
	font-family: fanwood_text_italic;
	src: url(../fonts/Fanwood/fanwood_text_italic-webfont.ttf);
}

@font-face {
	font-family: fanwood_text;
	src: url(../fonts/Fanwood/fanwood_text-webfont.ttf);
}

@font-face {
	font-family: fanwood;
	src: url(../fonts/Fanwood/fanwood-webfont.ttf);
}

@font-face {
	font-family: linden-italic;
	src: url(../fonts/Linden_Hill/LindenHill-Italic-webfont.ttf);
}

@font-face {
	font-family: linden;
	src: url(../fonts/Linden_Hill/LindenHill-webfont.ttf);
}

@font-face {
	font-family: goudy-italic;
	src: url(../fonts/Sorts_Mill_Goudy/GoudyStM-Italic-webfont.ttf);
}

@font-face {
	font-family: goudy;
	src: url(../fonts/Sorts_Mill_Goudy/GoudyStM-webfont.ttf);
}

body
{
	font-family:sans-serif;
	font-size:14px;
}

.button {
	text-decoration:underline;
	cursor:pointer;
	margin-bottom:30px;
	margin-left:30px;
}

p.button:hover {
	text-decoration:overline;
}

body
{
	background-color:#ffffff;
}

h1
{
	color: @maincolor;
	font-size:40px;
	margin-left:30px;
}

#box-box {
	position:absolute;
	top:32px;
	left:1%;
	width:15%;
	margin-left:15px;
	
}

.dis-wrap{
	font-family: fanwood_text;
	font-size:62pt;
	line-height:52pt;
	height:52pt;
}

.dis-wrap-first{
/* 	line-height:32pt; */
	height:37pt;
}

#def-box{
	border-top:1px solid #000;
}

#edit-box{
	position:absolute;
	top:0;
	left:15%;
	width:30%;
}

#submit-box{
	position:absolute;
	top:0;
	left:70%;
	width:10%;
}

.submit-letter{
	
}

#new-key-input{
	width: 8em;
	border: 1px solid pink;
}