

#nav-box {
	position:absolute;
	top:0;
	right:0;
	padding:6px;
	width:234px;
}

.id-box {
	a{
		font-family:monospace;
		font-size:8pt;
		text-decoration:none;
		color:blue;
	}
	a:hover{
		color:#DE0000;
		border-bottom:1px solid;
	}
	.keys{
		font-family:sans-serif;
		font-size:8pt;
		a{
			color:#666;
		}
		a:hover{
			color:#000;
			border-bottom:1px solid;
		}
	}

}
