#nav-box {
	position:absolute;
	top:0;
	right:0;
	padding:6px;
	width:280px;
}

.id-box {
	a{
		font-family: fanwood_text;
		font-size:10pt;
		text-decoration:none;
		color:black;
	}
	a:hover{
		color:black;
		border-bottom:1px solid;
	}
	.keys{
		font-family: fanwood_text_italic;
		font-size:10pt;
		line-height:11pt;
		a{
			color:black;
		}
		a:hover{
			color:black;
			border-bottom:1px solid;
		}
	}
}
