{% extends "base.html" %}
{% block title %}Disputio - nourrissez-moi{% endblock %}
{% block js %}
/* javascript */

$(document).ready(function()
{
	var iw = $('#input-wrapper');
	var keyCount = 0;
	
	$('#add-key').on('click', function(e)
	{
		var key = $('<input type="text" />')
		var value = $('<textarea name="xxxx"></textarea>')
		var box = $('<p></p>')
		key.on('change', function(e){
			value.attr('name', key.val());
		});
		
		box.append(key);
		box.append(value);
		iw.append(box);
	});
	
	$('#add-doc').on('click', function(e){
		$('#root').submit();
	});
	
	$('#nav-box').load('/disputio/docs');
	
	
});

{% endblock %}
{% block content %}

<div id="root-box">

<h1>Disputio</h1>

<form id="root" action="/disputio/add" name="root" method="POST">

<div id="input-wrapper">


</div>
<div class="button" id="add-key">
<p>Ajouter un champ de note, une manière de décrire le document, une autre manière peut-être pour le caractériser.</p>
<p>Add a field of notes, a way to describe the document, an other way maybe to categorize it.</p>
</div>
<div class="button" id="add-doc">
<p>Ajouter le contenu de cet écran au disputio.</p>
<p>Add the content of this screen to the disputio.</p>
</div>

</form>

<div id="nav-box">
<a>Voir tous les documents</a>
</div>

{% endblock %}