{% extends "base.html" %}
{% block title %}Disputio - nourrissez-moi{% endblock %}
{% block js %}
/* javascript */

$(document).ready(function()
{
	var iw = $('#input-wrapper');
	var keyCount = 0;
	$('#add-key').on('click', function(e)
	{
		var key = $('<input type="text" />')
		var value = $('<textarea name="xxxx"></textarea>')
		var box = $('<p></p>')
		key.on('change', function(e){
			value.attr('name', key.val());
		});
		
		box.append(key);
		box.append(value);
		iw.append(box);
	});
	
	$('#add-doc').on('click', function(e){
		$('#root').submit();
	});
});

{% endblock %}
{% block content %}

<div id="root-box">

<h1>Disputio</h1>

<form id="root" action="/disputio/add" name="root" method="POST">

<div id="input-wrapper">

</div">
<div class="button" id="add-key">
Ajouter un champ de note, une manière de décrire le document, une autre manière peut-être pour le caractériser.</br>
Add a field of notes, a way to describe the document, an other way maybe to categorize it.
</div>
<div class="button" id="add-doc">
Ajouter le contenu de cet écran au disputio.<br/>
Add the content of this screen to the disputio.
</div>

</form>

<div class="nav">
<a>Voir tous les documents</a>
</div>

{% endblock %}